<div style="background: white">
  <section class="wrapper">
    <div class="top">Ticket</div>
    <div class="bottom" aria-hidden="true">Ticket</div>
  </section>
  <p style="text-align: center;width: 100%;color:#0a53be;font-weight: bold">{{message}}</p>

  <div style="background-image: url('https://resortmcgroup.com/images/about-bg.png')">
    <div>
      <button id="student-add" class="back" routerLink="/create">
        Add New Ticket
      </button>
    </div>
    <form *ngIf="rfSearch" [formGroup]="rfSearch" (ngSubmit)="onSearch()" style="margin-top: 35px">
      <input formControlName="localFrom" style="width: 10%;margin: 0px 20px 0px 20px" type="text"
             placeholder="Local From .....">
      <input formControlName="localTo" style="width: 10%;margin: 0px 20px 0px 10px" type="text"
             placeholder="Local To .....">
      <span style="font-weight: bold;font-size: 18px;margin-right: 10px">From:</span>
      <input formControlName="dayFromFrom" type="date" style="width: 10%"
             (change)="onSearch()">
      <span style="font-weight: bold;font-size: 18px;margin:0px 10px">To:</span>
      <input formControlName="dayFromTo" type="date" style="width: 10%"
             (change)="onSearch()">
      <span style="font-weight: bold;font-size: 18px;margin-left:10px">Garage:</span>
      <select formControlName="garage" style="width: 10%;margin-left: 10px" (change)="onSearch()">
        <option [value]="''">-- Choose --</option>
        <option *ngFor="let item of garageList" [value]="item.id">{{item.name}}</option>
      </select>
      <button type="submit" style="width: 8%;font-size: 15px; font-weight: bold; margin-left: 20px">Search</button>
    </form>
  </div>
  <div>
    <table class="customers" style="margin-bottom: 30px">
      <thead>
      <tr>
        <th>#</th>
        <th>Local From</th>
        <th>Local To</th>
        <th>Price</th>
        <th>Day From</th>
        <th>Hour From</th>
        <th>Garage</th>
        <th>Quantity</th>
        <th colspan="4" style="text-align: center">Activity</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of ticketList | paginate: {itemsPerPage:count,currentPage:p}; let i = index;">
        <td>{{(i + 1)}}</td>
        <td>{{item.localFrom|titlecase}}</td>
        <td>{{item.localTo|titlecase}}</td>
        <td>{{item.price}}</td>
        <td>{{item.dayFrom| date:'dd/MM/y'}}</td>
        <td>{{item.hourFrom}}</td>
        <td>{{item.garage.name}}</td>
        <td>{{item.quantity}}</td>
        <td><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal"
               (click)="sendToDetailModal(item.id)">View</a></td>
        <td><a class="btn btn-warning" [routerLink]="['/edit',item.id]">Edit</a></td>
        <td>
          <!-- Button delete modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteModal" (click)="getTicket(item.id)">
            Delete
          </button>
        </td>
        <td>
          <!-- Button order modal -->
          <button type="button" class="btn btn-success" data-bs-toggle="modal"
                  data-bs-target="#orderModal" (click)="getTicket(item.id)">
            Order
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Including the pagination control.-->
<div class="text-right" style="text-align: center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="ticket" class="modal-body">
        <p style="text-align: center">
          Are you sure you want to delete ticket go from
          <span style="color: red">{{ticket.localFrom|titlecase}}</span>
          to
          <span style="color: red">{{ticket.localTo|titlecase}}</span> in
          <span style="color: red">{{ticket.hourFrom}}</span> hour of date
          <span style="color: red">{{ticket.dayFrom|date:('dd/MM/yyyy')}}</span>?
        </p>
      </div>
      <div class="modal-footer">
        <form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" type="submit" data-bs-dismiss="modal" (click)="onDelete()">Delete</a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Detail Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h1 class="modal-title fs-5" style="font-weight: bold">Infomation Of Ticket</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div *ngIf="ticketDetail" class="modal-body">
        <fieldset>
          <table class="table" style="width: 100%">
            <tr>
              <td style="font-weight: bold">Local From</td>
              <td>{{ticketDetail.localFrom|titlecase}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Local To</td>
              <td>{{ticketDetail.localTo| titlecase}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Day From</td>
              <td>{{ticketDetail.dayFrom|date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Hour From</td>
              <td>{{ticketDetail.hourFrom}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Price</td>
              <td>{{ticketDetail.price}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Quantity</td>
              <td>{{ticketDetail.quantity}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Garage</td>
              <td>{{ticketDetail.garage.name}}</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </td>
            </tr>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<!-- Modal Order-->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Order Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="ticket" class="modal-body">
        <p style="text-align: center">
          Are you sure you want to order ticket go from
          <span style="color: red">{{ticket.localFrom|titlecase}}</span>
          to
          <span style="color: red">{{ticket.localTo|titlecase}}</span> in
          <span style="color: red">{{ticket.hourFrom}}</span> hour of date
          <span style="color: red">{{ticket.dayFrom|date:('dd/MM/yyyy')}}</span>?
        </p>
      </div>
      <div class="modal-footer">
        <form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" type="submit" data-bs-dismiss="modal" (click)="onOrder()">Order</a>
        </form>
      </div>
    </div>
  </div>
</div>
